version: '2'
services:
  redis:
    image: "redis:alpine"
  db:
    image: "postgres:9.4"
    environment:
     - POSTGRES_PASSWORD=123456
     - POSTGRES_USER=postgres
  web:
    image: node-express-seed
    ports:
     - "80:3000"
    volumes:
     - .:/usr/src/app
    environment:
     - PG_CONNECTION=postgres://postgres:123456@db:5432/
     - DATABASE=seed
     - INIT_DB=postgres
     - REDIS_URL=redis
     - PORT=3000
    depends_on:
     - db
     - redis
    command: bash -c 'while !</dev/tcp/db/5432; do sleep 1; done ; npm start'
